a{
  text-decoration: none;
  position: relative;
  left: 50%;
  color:black;
  

}
#pla{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    gap: 14px;
    position: relative;
    left: 10%;
    padding-top: 15px;
}
#container{
    background-color:white;
    height: 50px;
}
body{
   margin:0%;
   padding:0%; 
   /*background-image: url("task4.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   filter: blur(2px);
   -webkit-filter: blur(2px);*/
}
  
/*#bg-img{
    background-image: url("task4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
    background-position: center;
 }*/
h1{
    font-size: 90px;
    text-align: center;
    color: black;
    position: absolute;
    top:20%;
    left:20%
}
button{
    margin-left: 45%;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 20px;
    position: absolute;
    top:80%;
    left:-2%;
    cursor: pointer;
}
img{
    width:1255px;
    height:560px;
    opacity: 0.7;
}