h1{
    font-family: verdan,sans-serif;
}
.container{
    background-color: black;
}
div{
    color:white;
}
h2{
    padding-left: 50px;
}
img{
    width:200px;
    height: 150px;
    padding-left: 50px;
}
p{
    padding-left: 50px;
}